[submodule "VTK"]
	path = VTK
	url = https://vtk.org/VTK.git
[submodule "Utilities/VisItBridge"]
	path = Utilities/VisItBridge
	url = https://paraview.org/VisItBridge.git
[submodule "ThirdParty/IceT/vtkicet"]
	path = ThirdParty/IceT/vtkicet
	url = https://paraview.org/IceT.git
[submodule "ThirdParty/protobuf/vtkprotobuf"]
	path = ThirdParty/protobuf/vtkprotobuf
	url = https://public.kitware.com/protobuf.git
[submodule "ThirdParty/QtTesting/vtkqttesting"]
	path = ThirdParty/QtTesting/vtkqttesting
	url = https://paraview.org/QtTesting.git
